*{
  margin: 0px;
  padding: 0px;
}
.body{
  height: 2400px;
  width:100% ;
  background-color: #FFFFFF;
  justify-items: center;
}
 header{
   width:100%;
   height: 2%;
   background-color:#D9D9D9 ;
   display: flex;
   justify-content: center;
   align-items:center;
   justify-content: space-evenly;
            p{
              font-weight: 600;
            }
 } 
 .logo-panel{
    width:100%;
    height: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #403935;
    img{
      height: 80%;
      border-radius: 150%;
      margin-right: 5px;
    }
    p{
      font-size:200%;
      color:white;
      font-weight: 900;
      a{
        text-decoration: none;
        color:white;
      }
    }
  }
  .search-panel{
    width:100%;
    height: 5%;
    background-color: #D9D9D9;
    justify-items: center;
    align-content: center;
    justify-content: center;
          .search-bar{
            width:70%;
            height: 60%;
            background-color: white;
            border-radius: 7px; 
            display: flex;
            border:2px solid white;
            select{
              height: 100%;
              width:15%;
              border:0px;
              border-top-left-radius: 5px;
              border-bottom-left-radius: 5px;
              text-align:center;
              font-size:100%;
              font-weight: 600;
            }
            input{
              height: 100%;
              width:85%;
              border:0px;
              font-size:140%;
              font-weight: 600;
              
               
            }
            button{
              height: 100%;
              width:15%;
              border-top-right-radius:5px;
              border-bottom-right-radius:5px;
              border:0px;
              font-size:110%;
              font-weight: 400;
              a{
                text-decoration: none;
                color:black;
              }
            }
          }
  }
  .advertisment{
    background-color:#D9D9D9;
    height: 13%;
    width:90%;
    margin-top:30px; 
    border-radius: 10px;
    background-image: linear-gradient(pink, white);
    justify-items: center;
    align-content:center;
    p{
      font-size: 140%; 
      font-family:  cursive;
    }
    a{
      font-weight: 900;
      text-decoration: none;
      color:#737D6F;
    }
    }
  .notice-panel{
    background-color: #737D6F;
    height: 3%;
    width:65%;
    border-radius: 10px;
    margin-top:-60px;
    color:white;
    justify-items: center;
    align-content:center;
  }
  .varity-panel{
    display: flex;
    height: 5%;
    width:90%;
  }
  .product-hub{
    height:65%;
    width:95%;
    background-color: ;
    background-image: linear-gradient(#F7F7F7, white);;
    margin-top:10%;
    margin-bottom:5%;
    border-radius: 4px;
    
        .current-product{
          height: 30%;
          width:100%;
          display: flex;
          justify-content: center;
          justify-content: space-evenly;
          align-items: center;
          .a-product{
            background-color:#E0EAF2;
            height:90%;
            width:45%;
            justify-content: center;
            align-content:center;
            justify-items: center;
            border-radius: 10px;
                .product01{
                  height: 90%;
                  width:90%;
                  border-radius: 5px;
                  p{
                    font-family:  cursive;
                    font-size: 150%;
                  }
                  a{
                    font-family: serif;
                    font-size: 110%;
                    font-weight: 700;
                  }
                  .img{
                    height:90%;
                    width:100%;
                    border-radius: 5px;
                    margin-bottom: 2%;
                    img{
                      height: 100%;
                      width:100%;
                      border-radius: 10px;
                    }
                  }
                }
          }
        } 
button{
  height: 10%;
  width:10%;
  font-family: cursive;
  background-image: linear-gradient(pink, white);
  border:0px;
  border-radius: 20px 20px;
}    
    .mini-product{
          height: 18%;
          width:100%;
          display: flex;
          justify-content: center;
          justify-content: space-evenly;
          align-items: center;
      justify-items: center;
      border-radius: 5px;
      margin-top:1%;
          .b-product{
            background-color:#D9D9D9;
            height:95%;
            width:30%;
            border-radius: 4px;
            img{
              height: 90%;
              width:100%;
              border-radius: 10px;
            }
            p{
                    font-family:  cursive;
                    font-size: 100%;
                  }
                  a{
                    font-family: serif;
                    font-size: 100%;
                    font-weight: 700;
                  }
            
          }
        }    
  }
.detail-panel{
    
    height: 20%;
    width:100%;
    background-image:linear-gradient(white,#686675);
    justify-items: center;
    align-content:center;
    .brand-details{
      height: 10%;
      width:100%;
      justify-items: center;
      margin-top:10%;
      color:white;
    }
    hr{
      width:90%;
      height: 1px;
      border:0px;
      background-color:pink;
    margin-top:3%;  
    }
    .developer-details{
      height: 50%;
      width:100%;
      justify-items: center;
      align-content:center;
      justify-content:center;
      justify-items: center;
      margin: 0px;
      img{
        height: 10%;
        width:10%;
        
      }
    }
}
    
.animation{
  .border-white:hover{
    border:2px solid white;
    border-radius: 5px;
  }
  .border-black:hover{
    border:2px solid black;
    border-radius: 5px;
  }
  input:active{
    text-decoration: none;
  }
  button:hover{
    background-color: #D9D9D9D9; 
  }

}