*{
  margin: 0px;
  padding: 0px;
}
@media(max-width:1100px){
.body{
  height: 2400px;
  width:1100px;
  background-color: pink;
}
 header{
   width:100%;
   height: 2%;
   background-color: #D9D9D9D9;
   display: flex;
   justify-content: center;
   align-items:center;
   justify-content: space-evenly;
            p{
              font-weight: 900;
            }
 } 
  .logo-panel{
    width:100%;
    height: 6%;
    background-color: black;
  }
  .search-panel{
    width:100%;
    height: 5%;
    background-color: #D9D9D9D9;
    justify-items: center;
    align-content: center;
          .search-bar{
            width:70%;
            height: 60%;
            background-color: white;
            border-radius: 7px; 
            display: flex;
            border:2px solid white;
            select{
              height: 100%;
              width:10%;
              border:0px;
              border-top-left-radius: 5px;
              border-bottom-left-radius: 5px;
              text-align:center;
            }
            input{
              height: 94%;
              width:80%;
              border:0px;
               
            }
            button{
              height: 100%;
              width:10%;
              border-top-right-radius:5px;
              border-bottom-right-radius:5px;
              border:0px;
            }
          }
  }
}