*{
  margin: 0px;
  padding: 0px;
}
@media(max-width:1100px){

body{
  height: 2400px;
  width:1100px;
  background-color: pink;
}
 header{
   width:100%;
   height: 2%;
   background-color: #D9D9D9D9;
   display: flex;
   justify-content: center;
   align-items:center;
   justify-content: space-evenly;
            p{
              font-weight: 900;
            }
 } 
  .logo-panel{
    width:100%;
    height: 5%;
    background-color: black;
  }
  .search-panel{
    width:100%;
    height: 5%;
    background-color: #D9D9D9D9;
    justify-items: center;
    align-content: center;
          .search-bar{
            width:70%;
            height: 80%;
            background-color: white;
            border-radius: 7px; 
          }
  }